p {
  color: pink;
}

ul {
    background: red;
    padding: 10px;
    border: 1px solid black;
}

html {
    background-color: cadetblue;
    font-size: 15px;
}

div.output {
    font-size: 16px;
    background-color: black;
    color: white;
    border: 3px solid darkseagreen;
    width: 700px;
    overflow-y:scroll;
    height: 350px;
    display:inline-block;
    padding: 5px;
}

#location {
    background-image: linear-gradient(to bottom, mediumaquamarine, aqua);
    border: 1px solid black;
    width: 100;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
}

.displayCard {
    background-image: url(assets/queenTemplate.jpg);
    background-size: 128px,178px;
    padding: 20px;
    width: 88px;
    height: 138px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display:inline-block;
    margin: 5px;
}

.storyCard {
    background-image: url(jacktempate.jpg);
    background-size: 128px,178px;
    padding: 20px;
    width: 88px;
    height: 138px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display:inline-block;
    margin: 5px;
}

.enabledCard {
    color: black;
}

.disabledCard {
    color: grey;
}

button {
    background-color: yellow;
    display:inline-block;
}

.topDisplay {
    background-image: linear-gradient(to bottom, orange, yellow);
    border: 1px solid black;
    width: 150px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display:inline-block;
    margin: 5px;
    padding: 5px;
    color: black;
}

.diceField {
    display: inline-block;
    padding: 5px;
}

.diceType{
    background-size: 40px,40px;
    width: 40px;
    height: 40px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display:inline-block;
    margin: 5px;
}

.diceFace1{
    background-image: url(assets/Alea_1.png);
    }

.diceFace2{
    background-image: url(assets/Alea_2.png);
    }

.diceFace3{
    background-image: url(assets/Alea_3.png);
    }

.diceFace4{
    background-image: url(assets/Alea_4.png);
    }

.diceFace5{
    background-image: url(assets/Alea_5.png);
    }

.diceFace6{
    background-image: url(assets/Alea_6.png);
    }

.diceFace7{
    background-image: url(assets/120px-Dice-7.svg.png);
    }

.styleAlert{
    color: red;
}

.styleReward{
    color: lawngreen;
}

.styleCost{
    color: orange;
}

.styleDescription{
    color: lightgray;
}

.styleStory{
    color: white;
}

.styleCard{
    color: deepskyblue;
}

.styleChallenge{
    color: yellow;
}
