p {
  color: pink;
}

ul {
    background: red;
    padding: 10px;
    border: 1px solid black;
}

html {
    background-color: cadetblue;
    font-size: 15px;
}

/*html.markswhitebackground {
    background-color: white;
}*/

div.output {
    font-size: 16px;
    background-color: black;
    color: white;
    border: 3px solid darkseagreen;
    width: 700px;
    overflow-y:scroll;
    height: 270px;
    display: inline-block;
    padding: 5px;
}

#location {
    background-image: linear-gradient(to bottom, mediumaquamarine, aqua);
    border: 1px solid black;
    width: 700px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    margin: 5px;
    margin-top: 10px;
    display: inline-block;
    padding: 5px;
}

.displayCard {
    background-image: url(assets/card-Base2.png);
    background-size: 128px,178px;
    padding: 20px;
    width: 88px;
    height: 138px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display: inline-block;
    color: black;
    margin: 5px;
}

.displayActionCard {
    background-image: url(assets/card-Base-Action2.png);
    background-size: 128px,178px;
    padding: 20px;
    width: 88px;
    height: 138px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display: inline-block;
    color: black;
    margin: 5px;
}

.brawnCard {
    background-image: url(assets/card-Brawn2.png);
    background-size: 128px,178px;
    padding: 20px;
    width: 88px;
    height: 138px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display: inline-block;
    color: black;
    margin: 5px;
}

.brawnActionCard {
    background-image: url(assets/card-Brawn-Action2.png);
    background-size: 128px,178px;
    padding: 20px;
    width: 88px;
    height: 138px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display: inline-block;
    color: black;
    margin: 5px;
}

.handCard {
    background-image: url(assets/card-Hand2.png);
    background-size: 128px,178px;
    padding: 20px;
    width: 88px;
    height: 138px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display: inline-block;
    color: black;
    margin: 5px;
}

.handActionCard {
    background-image: url(assets/card-Hand-Action2.png);
    background-size: 128px,178px;
    padding: 20px;
    width: 88px;
    height: 138px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display: inline-block;
    color: black;
    margin: 5px;
}

.heartCard {
    background-image: url(assets/card-Heart3.png);
    background-size: 128px,178px;
    padding: 20px;
    width: 88px;
    height: 138px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display: inline-block;
    color: black;
    margin: 5px;
}

.heartActionCard {
    background-image: url(assets/card-Heart-Action3.png);
    background-size: 128px,178px;
    padding: 20px;
    width: 88px;
    height: 138px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display: inline-block;
    color: black;
    margin: 5px;
}

.eyeCard {
    background-image: url(assets/card-Eye2.png);
    background-size: 128px,178px;
    padding: 20px;
    width: 88px;
    height: 138px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display: inline-block;
    color: black;
    margin: 5px;
}

.eyeActionCard {
    background-image: url(assets/card-Eye-Action2.png);
    background-size: 128px,178px;
    padding: 20px;
    width: 88px;
    height: 138px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display: inline-block;
    color: black;
    margin: 5px;
}

.voiceCard {
    background-image: url(assets/card-Voice2.png);
    background-size: 128px,178px;
    padding: 20px;
    width: 88px;
    height: 138px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display: inline-block;
    color: black;
    margin: 5px;
}

.voiceActionCard {
    background-image: url(assets/card-Voice-Action2.png);
    background-size: 128px,178px;
    padding: 20px;
    width: 88px;
    height: 138px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display: inline-block;
    color: black;
    margin: 5px;
}

.enabledCard {
    color: black;
    display: inline-block;

}


.disabledCard {
    background-image: url(assets/card-Disabled.png);
    background-size: 128px,178px;
    padding: 20px;
    width: 88px;
    height: 138px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display: inline-block;
    color: grey;
    margin: 5px;
}


button {
    background-color: yellow;
    display: inline-block;
}

.topDisplay {
    background-image: linear-gradient(to bottom, orange, yellow);
    border: 1px solid black;
    width: 150px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display: inline-block;
    margin: 5px;
    padding: 5px;
    color: black;
}

.diceField {
    display: inline-block;
    padding: 5px;
}

.diceType{
    background-size: 40px,40px;
    width: 40px;
    height: 40px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
    display: inline-block;
    margin: 5px;
}

.diceFace1{
    background-image: url(assets/Alea_1.png);
    display: inline-block;
}

.diceFace2{
    background-image: url(assets/Alea_2.png);
    display: inline-block;
}

.diceFace3{
    background-image: url(assets/Alea_3.png);
    display: inline-block;
}

.diceFace4{
    background-image: url(assets/Alea_4.png);
    display: inline-block;
}

.diceFace5{
    background-image: url(assets/Alea_5.png);
    display: inline-block;
}

.diceFace6{
    background-image: url(assets/Alea_6.png);
    display: inline-block;
}

.diceFace7{
    background-image: url(assets/120px-Dice-7.svg.png);
    display: inline-block;
}

.diceFace8{
    background-image: url(assets/120px-Dice-8a.svg.png);
    display: inline-block;
}
.diceFace9{
    background-image: url(assets/120px-Dice-9a.svg.png);
    display: inline-block;
}
.diceFace10{
    background-image: url(assets/120px-Dice-10.svg.png);
    display: inline-block;
}

.styleAlert{
    color: red;
}

.styleReward{
    color: lawngreen;
}

.styleCost{
    color: orange;
}

.styleDescription{
    color: lightgray;
}

.styleStory{
    color: white;
}

.styleCard{
    color: deepskyblue;
}

.styleChallenge{
    color: yellow;
}

.styleBonus{
    color: hotpink;
}
